.card {
    display: flex;
    justify-content: space-between;
}

.card__title {
    width: 100%;
    padding: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.form {
    width: 500px;
    margin: 0 auto;
    margin-top: 10px;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border-radius: 2rem;
    background-color: #fff;
}

.title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 0;
    padding-bottom: 2rem;
}

.label-login,
.label-password {
    transform: translateY(16px);
    padding-left: 16px;
}

.button-box {
    padding-top: 2rem;
}