doctype html
html
    head
        link(rel="stylesheet", href="style.css")
        title main
    body
        include ./pages/login/login.html
        .navigation-list
            a(href='./pages/register/register.html') register
            br
            a(href='./pages/profile/profile.html') profile
            br
            a(href='./pages/profileChange/profileChange.html') profileChange
            br
            a(href='./pages/mainChat/mainChat.html') mainChat
            br
            a(href='./pages/chats/chats.html') chats-plug
            br
            a(href='./pages/chats/chat/chat.html') chat
            br
            a(href='./pages/error/fileNotFound404/fileNotFound404.html') page404
            br
            a(href='./pages/error/serverError500/serverError500.html') page500

        script
            include index.js